#svgarea {
  width: 1400px;
  height: 800px;
  background-color: rgb(46, 46, 46);
}

#line__010,
#line__020,
#line__030,
#line__040,
#line__050,
#line__060,
#line__011,
#line__012,
#line__021,
#line__022,
#line__031,
#line__032,
#line__041,
#line__042,
#line__051,
#line__052,
#line__061,
#line__062,
#line__111,
#line__112,
#line__121,
#line__122,
#line__211,
#line__212,
#line__221,
#line__222,
#line__311,
#line__312,
#line__321,
#line__322,
#line__411,
#line__412,
#line__421,
#line__422,
#line__511,
#line__512,
#line__521,
#line__522,
#line__611,
#line__612,
#line__621,
#line__622 {
  display: none;
}

#circle__000,
#circle__010,
#circle__020,
#circle__030,
#circle__040,
#circle__050,
#circle__060,
#circle__011,
#circle__012,
#circle__021,
#circle__022,
#circle__031,
#circle__032,
#circle__041,
#circle__042,
#circle__051,
#circle__052,
#circle__061,
#circle__062,
#circle__111,
#circle__112,
#circle__121,
#circle__122,
#circle__211,
#circle__212,
#circle__221,
#circle__222,
#circle__311,
#circle__312,
#circle__321,
#circle__322,
#circle__411,
#circle__412,
#circle__421,
#circle__422,
#circle__511,
#circle__512,
#circle__521,
#circle__522,
#circle__611,
#circle__612,
#circle__621,
#circle__622 {
  display: none;
}
